In [ ]:
#!pip install nltk

In [ ]:
#!pip install spacy

In [ ]:
#!python -m spacy download en_core_web_sm

In [1]:
import spacy
import pandas as pd
pd.set_option('display.max_colwidth',None)
nlp = spacy.load('en_core_web_sm')

In [2]:
from spacy.gold import GoldParse
from spacy.pipeline import EntityRecognizer
#print(dir(spacy.tokens.token.Token))

In [26]:
## This is just a test code:
text = "Write a query to find all the employees whose salary is between 50000 to 100000. from Quarter Q1 to Q4?"
nlp_text = nlp(text)
for token in nlp_text:
    print(token.text, '-->', token.pos_, '-->', token.ent_iob_,'-->',token.ent_type_)

Write --> VERB --> O -->
a --> DET --> O -->
query --> NOUN --> O -->
to --> PART --> O -->
find --> VERB --> O -->
all --> DET --> O -->
the --> DET --> O -->
employees --> NOUN --> O -->
whose --> DET --> O -->
salary --> NOUN --> O -->
is --> AUX --> O -->
between --> ADP --> B --> CARDINAL
50000 --> NUM --> I --> CARDINAL
to --> ADP --> I --> CARDINAL
100000 --> NUM --> I --> CARDINAL
. --> PUNCT --> O -->
from --> ADP --> O -->
Quarter --> PROPN --> B --> WORK_OF_ART
Q1 --> PROPN --> I --> WORK_OF_ART
to --> ADP --> O -->
Q4 --> NOUN --> B --> PRODUCT
? --> PUNCT --> O -->

In [4]:
## This is just a test code:
text = "display Max Shipment for the Amazon from India in year 2019 where sales were greate than $ 50 M in Quarter 2?"
nlp_text = nlp(text)
for token in nlp_text:
    print(token.text, '-->', token.pos_, '-->', token.ent_iob_,'-->',token.ent_type_)

display --> NOUN --> B --> PERSON
Max --> PROPN --> I --> PERSON
Shipment --> PROPN --> I --> PERSON
for --> ADP --> O -->
the --> DET --> O -->
Amazon --> PROPN --> B --> ORG
from --> ADP --> O -->
India --> PROPN --> B --> GPE
in --> ADP --> O -->
year --> NOUN --> B --> DATE
2019 --> NUM --> I --> DATE
where --> ADV --> O -->
sales --> NOUN --> O -->
were --> AUX --> O -->
greate --> ADJ --> O -->
than --> SCONJ --> O -->
$ --> SYM --> B --> MONEY
50 --> NUM --> I --> MONEY
M --> NOUN --> I --> MONEY
in --> ADP --> O -->
Quarter --> PROPN --> B --> DATE
2 --> NUM --> I --> DATE
? --> PUNCT --> O -->

In [ ]:
# nlp = spacy.load('en', entity = False, parser = False) 
  
# doc_list = [] 
# doc = nlp("Generate Top Line for category Cheese in month Nov where Sub Category is Chocolate?")
# doc_list.append(doc) 
# gold_list = [] 
# gold_list.append(GoldParse(doc, [u'Intent', u'Intent', u'Intent', u'O',u'O',])) 
  
# ner = EntityRecognizer(nlp.vocab, entity_types = ['ANIMAL']) 
# ner.update(doc_list, gold_list)

In [ ]:
# import spacy 
# from spacy.gold import GoldParse 
# from spacy.language import EntityRecognizer 
  
# nlp = spacy.load('en', entity = False, parser = False) 
  
# doc_list = [] 
# doc = nlp('Llamas make great pets.') 
# doc_list.append(doc) 
# gold_list = [] 
# gold_list.append(GoldParse(doc, [u'ANIMAL', u'O', u'O', u'O'])) 
# ner = EntityRecognizer(nlp.vocab, entity_types = ['ANIMAL']) 
# ner.update(doc_list, gold_list)

In [5]:
# Let's exract number information from the above sentence
Numbers = []
feats = []
intent = []
feats_time = []

for token in nlp_text:
    if token.pos_ == 'NUM'and token.ent_type_ != 'DATE':
        Numbers.append(token)
    
    if (token.pos_ =='PROPN' or token.pos_ == 'NOUN') and token.ent_type_ != 'DATE':
        feats.append(token)
        
    if token.pos_ == 'VERB':
        intent.append(token)
        
    if token.ent_type_ == 'DATE':
        feats_time.append(token)

In [6]:
print(Numbers,'\n', feats, '\n', feats_time,'\n',intent)

[50]
 [display, Max, Shipment, Amazon, India, sales, M]
 [year, 2019, Quarter, 2]
 []

In [18]:
test_df = pd.read_excel('test_sheet2.xlsx')

In [19]:
test_df.head()

                                                                            Sample General English Query:
0        Display the  Gross_Sales for category: Cheese , Sub-Category: Nat_Cheese from Year 2015 to 2018?
1  Fetch the Net_Sales for category: Breakfast, Sub-Category: Juice, PPG : [361] from week wk1 to wk 10?
2                          How much Revenue did Company generate in Q1? in week 3? January? weeks 10-15?
3                                               How much Revenue did the Customers generate in Q1 and Q2?
4                                             Fetch the Customers whos Actual_Sales were more than $ 40M?

In [20]:
for i in range(len(test_df)):
    print(test_df['Sample General English Query:'][i])

Display the  Gross_Sales for category: Cheese , Sub-Category: Nat_Cheese from Year 2015 to 2018?
Fetch the Net_Sales for category: Breakfast, Sub-Category: Juice, PPG : [361] from week wk1 to wk 10?
How much Revenue did Company generate in Q1? in week 3? January? weeks 10-15?
How much Revenue did the Customers generate in Q1 and Q2?
Fetch the Customers whos Actual_Sales were more than $ 40M?
Fetch the details of the Cusotmers who has the  Actual_Vol greater than Planned_Vol in year 2019?
List out  all the customers whose Actual_Volume is more than 10 M units in Januanry 2019?
Write a query to fetch the EmpFname from the EmployeeInfo table in upper case and use the ALIAS name as EmpName.
Write a query to fetch the number of employees working in the department ‘HR’.
Write a query to get the current date.
Write a query to retrieve the first four characters of  EmpLname from the EmployeeInfo table.
Write a query to fetch only the place name(string before brackets) from the Address column of EmployeeInfo table.
Write a query to find all the employees whose salary is between 50000 to 100000.
Write a query to find the names of employees that begin with ‘S’
Write a query to fetch top N records.
Write a query find number of employees whose DOB is between 02/05/1970 to 31/12/1975 and are grouped according to gender
Write a query to retrieve the EmpFname and EmpLname in a single column as “FullName”. The first name and the last name must be separated with space.
Write a query to fetch all the records from the EmployeeInfo table ordered by EmpLname in descending order and Department in the ascending order.
Write a query to fetch details of employees whose EmpLname ends with an alphabet ‘A’ and contains five alphabets.
Write a query to fetch details of all employees excluding the employees with first names, “Sanjay” and “Sonia” from the EmployeeInfo table.
Write a query to fetch details of employees with the address as “DELHI(DEL)”.
Write a query to fetch all employees who also hold the managerial position.
Write a query to fetch department-wise count of employees sorted by department’s count in ascending order.
Write a SQL query to retrieve employee details from EmployeeInfo table who have a date of joining in the EmployeePosition table.
Write a query to retrieve two minimum and maximum salaries from the EmployeePosition table.
Write a query to display the first and the last record from the EmployeeInfo table.

In [21]:
nlp_text_df = {}
for i in range(len(test_df)):
    nlp_text_df[i] = nlp(test_df['Sample General English Query:'][i])

# Let's exract information from the above sentence
numbers_dict = {}
feats_and_time_dict = {}
intent_dict = {}

for i in range(len(nlp_text_df)):
    num = []
    f_t = []
    vrb = []
    for token in nlp_text_df[i]:
        if token.pos_ == 'NUM':
            num.append(token)
      
        if token.pos_ =='PROPN' or token.pos_ == 'NOUN':
            f_t.append(token)
        
        if token.pos_ == 'VERB':
            vrb.append(token)
    
    numbers_dict[i] = num
    feats_and_time_dict[i] = f_t
    intent_dict[i] = vrb

In [38]:
# Let's exract information from the above sentence
numbers_dict = {}
time_dict = {}

for i in range(len(nlp_text_df)):
    temp_numeric = []
    temp_time = []
    
    for token in nlp_text_df[i]:
        if token.pos_ == 'NUM':
            temp_numeric.append(token)
        
        if token.ent_type_ == 'DATE':
            temp_time.append(token)
    
    numbers_dict[i] = temp_numeric
    time_dict[i] = temp_time

In [39]:
#print(numbers_dict,'\n\n', feats_and_time_dict, '\n\n', intent_dict)

In [40]:
test_df['Features_info'] = time_dict.values()
test_df['Numeric_info'] = numbers_dict.values()
#test_df['Intent'] = intent_dict.values()

In [41]:
test_df.head(20)

,Sample General English Query:,Features_info,Numeric_info
0,"Display the Gross_Sales for category: Cheese , Sub-Category: Nat_Cheese from Year 2015 to 2018?","[Year, 2015, to, 2018]","[2015, 2018]"
1,"Fetch the Net_Sales for category: Breakfast, Sub-Category: Juice, PPG : [361] from week wk1 to wk 10?",[week],"[361, 10]"
2,How much Revenue did Company generate in Q1? in week 3? January? weeks 10-15?,"[week, 3, ?, weeks, 10, -, 15]","[3, 10, 15]"
3,How much Revenue did the Customers generate in Q1 and Q2?,[],[]
4,Fetch the Customers whos Actual_Sales were more than $ 40M?,[],"[40, M]"
5,Fetch the details of the Cusotmers who has the Actual_Vol greater than Planned_Vol in year 2019?,"[year, 2019]",[2019]
6,List out all the customers whose Actual_Volume is more than 10 M units in Januanry 2019?,"[Januanry, 2019]","[10, 2019]"
7,Write a query to fetch the EmpFname from the EmployeeInfo table in upper case and use the ALIAS name as EmpName.,[],[]
8,Write a query to fetch the number of employees working in the department ‘HR’.,[],[]
9,Write a query to get the current date.,[],[]
10,Write a query to retrieve the first four characters of EmpLname from the EmployeeInfo table.,[],[four]
11,Write a query to fetch only the place name(string before brackets) from the Address column of EmployeeInfo table.,[],[]
12,Write a query to find all the employees whose salary is between 50000 to 100000.,[],"[50000, 100000]"
13,Write a query to find the names of employees that begin with ‘S’,[],[]
14,Write a query to fetch top N records.,[],[N]
15,Write a query find number of employees whose DOB is between 02/05/1970 to 31/12/1975 and are grouped according to gender,"[between, 02/05/1970, to, 31/12/1975]","[02/05/1970, 31/12/1975]"
16,Write a query to retrieve the EmpFname and EmpLname in a single column as “FullName”. The first name and the last name must be separated with space.,[],[]
17,Write a query to fetch all the records from the EmployeeInfo table ordered by EmpLname in descending order and Department in the ascending order.,[],[]
18,Write a query to fetch details of employees whose EmpLname ends with an alphabet ‘A’ and contains five alphabets.,[],[five]
19,"Write a query to fetch details of all employees excluding the employees with first names, “Sanjay” and “Sonia” from the EmployeeInfo table.",[],[]

In [ ]:
test_df.to_excel('Token_Gen1.xlsx', index=False)

In [ ]:
nlp('what')[0].pos_